<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Närvaro | Sätt status</title>
    <link rel="shortcut icon" href="/assets/images/nti_logo_footer.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="backgroundImage">
      <img src="/assets/images/backgroundNTI.jpg" alt="background image of webpage containing purple blobs and stripes">
    </div>

    <img id="logo" src="assets/images/nti_logo_footer.svg" alt="Logo of NTI school">
    

    <div class="grid-center">
      <div class="message-container-wrapper">
        <div name="main">
            <h1>Ange din status</h1>
            <% let id = 0;%>
            <% statusObject.forEach(person => { %>
              <% id++ %>
                <div class="message-container <%= (id%2==0) ? 'gray-color': ''; %>" name="personDiv">
                    <div class="name">
                      <span name="personName"><%= person.name %></span>
                    </div>
                    <div class="container">
                        <label class="switch" for="avaliable-<%=id%>">
                            <input type="checkbox" name="avaliableCheckbox" id="avaliable-<%=id%>" <%= (person.locked) ? "disabled" : ''; %> <%= (person.status) ? "checked" : ''; %> >
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            <% }); %>
        </div>
        <div>
          <a href="/">Status</a>
        </div>

      </div>

    </div>    
    
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/input.js"></script>

</body>
</html>