<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Närvaro | Input</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="backgroundImage">
      <img src="/assets/images/backgroundNTI.jpg">
    </div>

    <img id="logo" src="assets/images/nti_logo_footer.svg" alt="">
    
    <div class="message-container-wrapper">
      <div name="main">
          <h1>Ange din status</h1>
          <% let id = 0;%>
          <% statusObject.forEach(person => { %>
            <% id++ %>
              <div class="message-container" name="personDiv">
                  <p name="personName"><%= person.name %></p>
                  <div class="container">
                      <label class="switch" for="avaliable-<%=id%>">
                          <input type="checkbox" name="avaliableCheckbox" id="avaliable-<%=id%>" <%= (person.locked) ? "disabled" : ''; %> <%= (person.status) ? "checked" : ''; %> >
                          <div class="slider round"></div>
                      </label>
                  </div>
                  <div>
                      <input type="checkbox" name="lockCheckbox" id="statusLock" <%= (person.locked) ? "checked" : ''; %>>
                      <span>lås</span>
                  </div>
              </div>
          <% }); %>
      </div>

      <a href="/output">Status</a>

    </div>    
    
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/input.js"></script>

</body>
</html>