<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Närvaro</title>

    <link rel="shortcut icon" href="/assets/images/nti_logo_footer.svg" sizes="any" type="image/svg+xml">


    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

  <div class="backgroundImage">
    <img src="/assets/images/backgroundNTI.jpg" alt="background image of webpage containing purple blobs and stripes">
  </div>

  <img id="logo" src="assets/images/nti_logo_footer.svg" alt="Logo of NTI school">

    <div class="grid-center">
      <div class="message-container-wrapper">
        <h1>Status</h1>
        <div id="statusDiv">
          <% let id = 0;%>
            <% statusObject.forEach(person => { %>
              <% id++ %>
                <div class="message-container <%= (id%2==0) ? 'gray-color': ''; %>" id="message-containerOutput">
                  <div class="name status-flex">
                      <span><%= person.name %></span>
                      <span class="role subheading"><%= person.role %> </span>
                    </div>
                    <div class="status status-flex">
                      <span class="<%= (person.status == true) ? 'green-color' : 'red-color'; %>"><%= (person.status == true) ? "Tillgänglig" : "Ej\xa0tillgänglig"; %></span>
                      <span class="latest-update subheading">Senast uppdaterad: <%= person.latest_change_from_now %> </span>
                    </div>    

                  </div>
            <% }); %>
        </div>
        <noscript>
            <h4>JavaScript är avstängt</h4>
            <p>För att uppdatera innehållet på sidan, ladda om sidan</p>
        </noscript>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/output.js"></script>
</body>
</html>